module {{.Module}}

go 1.27.0

require (
	github.com/DonaldMurillo/fastr-docs v0.1.0
	github.com/DonaldMurillo/gofastr v0.73.0
)
{{if .LocalReplace}}
// Local source checkout dependency; remove this replace when publishing the generated project.
replace github.com/DonaldMurillo/fastr-docs => {{.LocalReplace}}
{{end}}
